.sms-container {
    width: 100%;

    .sms-content {
        width: 100%;
        font-size: 16px;
        margin: 8px 0;
    }

    .sms-date {
        font-size: 12px;
        color: #c0b9b9;
        text-align: right;
    }
}