<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SMS List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let sms of list">
      <ion-label>
        <div class="sms-container">
          <div class="sms-content">{{ sms.body }}</div>
          <div class="sms-date"> {{ sms.date | date:'short'}}</div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>